@import url("https:fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  height: 100vh;
}

header .sidebar .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #009ea7;
}

header .sidebar .change .bar2 {
  opacity: 0;
}

header .sidebar .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
  background-color: #009ea7;
}

header .sidebar #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .sidebar #navbar .hamburger {
  display: inline-block;
  cursor: pointer;
}

header .sidebar #navbar .hamburger .bar1,
header .sidebar #navbar .hamburger .bar2,
header .sidebar #navbar .hamburger .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: darkblue;
}

header .sidebar #navbar .call_box {
  display: none;
}

@media (min-width: 359px) and (max-width: 450px) {
  header .sidebar #navbar .call_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
  }
}

@media (min-width: 450px) and (max-width: 851px) {
  header .sidebar #navbar .call_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    gap: 10px;
    left: 5%;
  }
}

@media (min-width: 851px) and (max-width: 992px) {
  header .sidebar #navbar .call_box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    gap: 10px;
    left: 25%;
  }
}

header .sidebar #navbar .call_box i {
  font-size: 25px;
  color: darkblue;
}

header .sidebar #navbar .call_box .phone_btn {
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid #e4bd63;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4bd63), to(#e4bd63));
  background: linear-gradient(#e4bd63, #e4bd63);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 156px;
  height: 40px;
  margin: none;
  font-size: small;
}

header .sidebar #navbar .call_box .phone_btn i {
  color: #e4bd63;
  font-size: 20px;
}

header .sidebar #navbar .phone_btn:hover {
  background-size: 100% 100%;
  background-position-x: left;
  border-radius: 5px;
  color: white;
}

header .sidebar #navbar .phone_btn:hover i {
  color: white;
}

header .sidebar #navbar .logo {
  position: relative;
  padding: 0 2%;
  margin-bottom: -1%;
  height: 100px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

header .sidebar #navbar .logo img {
  position: relative;
}

header .sidebar #navbar .logo #img_1 {
  -webkit-animation: myMove 5s 3s ease infinite alternate;
          animation: myMove 5s 3s ease infinite alternate;
}

header .sidebar #navbar .logo #img_2 {
  -webkit-animation: myMoves 5s 3s ease infinite alternate;
          animation: myMoves 5s 3s ease infinite alternate;
  border-style: none solid none solid;
  border-color: #e4bd63;
}

@-webkit-keyframes myMove {
  from {
    bottom: 0%;
  }
  to {
    bottom: 120%;
  }
}

@keyframes myMove {
  from {
    bottom: 0%;
  }
  to {
    bottom: 120%;
  }
}

@-webkit-keyframes myMoves {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}

@keyframes myMoves {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}

header .sidebar #navbar #navbarTogglerDemo01 {
  font-size: 11px;
  font-weight: 500;
  height: 64px;
  border-bottom: 1px solid #848e9f;
}

header .sidebar #navbar #navbarTogglerDemo01 ul img {
  position: relative;
  left: 15%;
}

@media (max-width: 1300px) {
  header .sidebar #navbar #navbarTogglerDemo01 ul img {
    display: none;
  }
}

header .sidebar #navbar #navbarTogglerDemo01 a {
  display: block;
  position: relative;
  line-height: 1.5;
  color: #848e9f;
}

header .sidebar #navbar #navbarTogglerDemo01 a:hover {
  color: #e4bd63;
}

header .sidebar #navbar #navbarTogglerDemo01 a:after {
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 0px;
  background: #e4bd63;
  transition: 0.25s ease-out;
  -webkit-transition: 0.25s ease-out;
  height: 2px;
  content: "";
  position: absolute;
}

header .sidebar #navbar #navbarTogglerDemo01 a:hover:after {
  width: 100%;
}

header .sidebar #navbar #navbarTogglerDemo02 {
  border-bottom: 1px solid #848e9f;
}

header .sidebar #navbar #navbarTogglerDemo02 #currency {
  position: relative;
  width: 75%;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 20%;
}

@media (min-width: 309px) and (max-width: 900px) {
  header .sidebar #navbar #navbarTogglerDemo02 #currency {
    width: 99%;
    position: static;
    margin: 5% 0;
    border: 1px #848e9f;
    border-style: solid none solid none;
  }
}

@media (min-width: 900px) and (max-width: 990px) {
  header .sidebar #navbar #navbarTogglerDemo02 #currency {
    width: 400px;
    position: static;
    margin: 3% 0;
  }
}

header .sidebar #navbar #navbarTogglerDemo02 #currency a {
  color: #928f8f;
  font-size: 14px;
}

header .sidebar #navbar #navbarTogglerDemo02 #currency #cur_name,
header .sidebar #navbar #navbarTogglerDemo02 #currency span {
  color: #000000;
}

header .sidebar #navbar #navbarTogglerDemo02 .for_Clients {
  display: none;
  cursor: pointer;
}

header .sidebar #navbar #navbarTogglerDemo02 .for_Clients #clients_h {
  font-size: 18px;
}

header .sidebar #navbar #navbarTogglerDemo02 .for_Clients #clients_h:hover {
  color: #848e9f;
}

@media (max-width: 990px) {
  header .sidebar #navbar #navbarTogglerDemo02 .for_Clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 2%;
    gap: 5px;
    text-align: justify;
    font-weight: bold;
  }
}

header .sidebar #navbar #navbarTogglerDemo02 .nbu_networks {
  display: none;
  height: 5%;
  font-size: 24px;
  color: #848e9f;
  padding: 0 2%;
}

header .sidebar #navbar #navbarTogglerDemo02 .nbu_networks .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  width: 35px;
  height: 36px;
  margin: none;
  background-color: rgba(176, 228, 244, 0.527);
  border-radius: 6px;
}

header .sidebar #navbar #navbarTogglerDemo02 .nbu_networks .social-medias i {
  color: #009ea7;
  width: 23px;
  height: 91px;
  font-size: 24px;
}

@media (max-width: 990px) {
  header .sidebar #navbar #navbarTogglerDemo02 .nbu_networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

header .sidebar #navbar .bottom_menu {
  margin: 1% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  height: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .sidebar #navbar .bottom_menu .bot_menu {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_container:hover .loans_cont {
  display: block;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont {
  display: none;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans {
  z-index: 3;
  position: absolute;
  padding: 0px 40px;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-size: cover;
  color: #000000;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .loans_box,
header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .bank_box,
header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .deposit_box,
header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .deposit_box_2 {
  margin: 0 10%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .loans_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .bank_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .deposit_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans .deposit_box_2 h6 {
  font-size: 17px;
  width: 100%;
  font-weight: bold;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans p {
  font-weight: lighter;
  text-align: justify;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans h6:hover {
  color: #e4bd63;
}

header .sidebar #navbar .bottom_menu .bot_menu .loans_cont .loans p {
  font-size: 18px;
  width: 368px;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_container:hover .bank_cont {
  display: block;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont {
  display: none;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank {
  z-index: 3;
  position: absolute;
  padding: 0px 40px;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-size: cover;
  color: #000000;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .loans_box,
header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .bank_box,
header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .deposit_box,
header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .deposit_box_2 {
  margin: 0 10%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .loans_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .bank_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .deposit_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .deposit_box_2 h6 {
  font-size: 17px;
  width: 100%;
  font-weight: bold;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank p {
  font-weight: lighter;
  text-align: justify;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank h6:hover {
  color: #e4bd63;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .card_btn button {
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid #e4bd63;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4bd63), to(#e4bd63));
  background: linear-gradient(#e4bd63, #e4bd63);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
  width: 200px;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .card_btn button i {
  color: #e4bd63;
  font-size: 20px;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .card_btn button:hover {
  background-color: #e4bd63;
  color: white;
}

header .sidebar #navbar .bottom_menu .bot_menu .bank_cont .bank .card_btn p {
  width: 100%;
  font-size: 17px;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_container:hover .deposit_cont {
  display: block;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont {
  display: none;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit {
  z-index: 3;
  position: absolute;
  padding: 0px 40px;
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-size: cover;
  color: #000000;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .loans_box,
header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .bank_box,
header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .deposit_box,
header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .deposit_box_2 {
  margin: 0 10%;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .loans_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .bank_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .deposit_box h6,
header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .deposit_box_2 h6 {
  font-size: 17px;
  width: 100%;
  font-weight: bold;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit p {
  font-weight: lighter;
  text-align: justify;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit h6:hover {
  color: #e4bd63;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit .deposit_box_2 {
  margin-bottom: 10%;
}

header .sidebar #navbar .bottom_menu .bot_menu .deposit_cont .deposit p {
  width: 100%;
  font-size: 18px;
  margin-bottom: 5%;
}

header .sidebar #navbar .bottom_menu h5 {
  font-weight: 600;
}

header .sidebar #navbar .bottom_menu h5:hover {
  color: #e4bd63;
}

header .sidebar #navbar .bottom_menu .phone_container {
  position: relative;
  left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1083px) {
  header .sidebar #navbar .bottom_menu .phone_container .bi-search {
    display: none;
  }
}

header .sidebar #navbar .bottom_menu .phone_container i {
  font-size: 20px;
  color: darkblue;
}

header .sidebar #navbar .bottom_menu .phone_container .phone_btn {
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid #e4bd63;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4bd63), to(#e4bd63));
  background: linear-gradient(#e4bd63, #e4bd63);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
}

header .sidebar #navbar .bottom_menu .phone_container .phone_btn i {
  color: #e4bd63;
  font-size: 20px;
}

header .sidebar #navbar .bottom_menu .phone_container .phone_btn:hover {
  background-size: 100% 100%;
  background-position-x: left;
  border-radius: 5px;
  color: white;
}

header .sidebar #navbar .bottom_menu .phone_container .phone_btn:hover i {
  color: white;
}

header .sidebar #navbar .bottom_menu .phone_container .dropbtn {
  color: black;
  width: 100px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

header .sidebar #navbar .bottom_menu .phone_container .dropdown {
  position: relative;
  display: inline-block;
}

header .sidebar #navbar .bottom_menu .phone_container .dropdown .dropdown-content {
  display: none;
  margin: 0 -20%;
  position: absolute;
  background-color: white;
  width: 120px;
  text-align: center;
  right: 2%;
  left: 0;
  top: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

header .sidebar #navbar .bottom_menu .phone_container .dropdown .dropdown-content a {
  font-weight: bold;
  color: black;
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

header .sidebar #navbar .bottom_menu .phone_container .dropdown .dropdown-content a:hover {
  color: #009ea7;
}

header .sidebar #navbar .bottom_menu .phone_container .dropdown:hover .dropdown-content {
  display: block;
}

header .cont-curr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  height: 30vh;
  margin: auto;
  color: #000000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 900px) {
  header .cont-curr {
    height: 20vh;
  }
}

header .cont-curr .atm_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  width: 70%;
  height: 10vh;
  margin: 2% 0;
  border-bottom: 1px solid rgba(192, 192, 192, 0.429);
  font-size: 2vw;
}

@media (max-width: 500px) {
  header .cont-curr .atm_box {
    width: 100%;
    height: 2vh;
    font-size: 3vw;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  header .cont-curr .atm_box {
    width: 100%;
    height: 10vh;
    font-size: 3vw;
  }
}

header .cont-curr .atm_box .change_light,
header .cont-curr .atm_box .change_light_1,
header .cont-curr .atm_box .change_light_2 {
  position: relative;
  text-decoration: none;
  color: #000000;
}

header .cont-curr .atm_box .change_light,
header .cont-curr .atm_box .change_light_1:hover,
header .cont-curr .atm_box .change_light_2:hover {
  color: #e4bd63;
}

header .cont-curr .atm_box .change_light_1:after,
header .cont-curr .atm_box .change_light_2:after,
header .cont-curr .atm_box .change_light::after {
  content: "";
  width: 0%;
  top: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #e4bd63;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
  background-color: #e4bd63;
  width: 0;
}

header .cont-curr .atm_box .change_light_1:hover:after,
header .cont-curr .atm_box .change_light_2:hover:after,
header .cont-curr .atm_box .change_light:hover:after {
  width: 100%;
}

header .table-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 90%;
  height: auto;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .table-cont P {
  margin: 5% 0;
}

header .table-cont .tables {
  width: 60%;
}

@media (max-width: 990px) {
  header .table-cont .tables {
    width: 100%;
  }
}

header .table-cont .tables .changeWidth {
  width: 100%;
}

@media (min-width: 990px) and (max-width: 1000px) {
  header .table-cont .tables {
    width: 70%;
  }
}

header .table-cont .tables .table_1 {
  width: 100%;
  height: 80vh;
  color: #000000;
  display: table;
}

@media (max-width: 700px) {
  header .table-cont .tables .table_1 {
    font-size: 10px;
  }
}

header .table-cont .tables .table_1 td,
header .table-cont .tables .table_1 th {
  border-bottom: 1px solid #848e9f;
}

header .table-cont .tables .table_1 tr:hover {
  background-color: #e4bd63;
}

header .table-cont .tables .table_1 tr:hover td {
  color: white;
}

header .table-cont .tables .table_2 {
  width: 100%;
  height: 80vh;
  color: #000000;
  display: none;
  margin-bottom: 25%;
}

@media (max-width: 700px) {
  header .table-cont .tables .table_2 {
    font-size: 10px;
  }
}

header .table-cont .tables .table_2 td,
header .table-cont .tables .table_2 th {
  border-bottom: 1px solid #848e9f;
}

header .table-cont .tables .table_2 tr:hover {
  background-color: #e4bd63;
}

header .table-cont .tables .table_2 tr:hover td {
  color: white;
}

header .table-cont .tables .table_3 {
  width: 100%;
  height: 80vh;
  color: #000000;
  display: none;
  width: 100%;
  font-size: 12px;
}

@media (max-width: 700px) {
  header .table-cont .tables .table_3 {
    font-size: 10px;
  }
}

header .table-cont .tables .table_3 td,
header .table-cont .tables .table_3 th {
  border-bottom: 1px solid #848e9f;
}

header .table-cont .tables .table_3 tr:hover {
  background-color: #e4bd63;
}

header .table-cont .tables .table_3 tr:hover td {
  color: white;
}

header .table-cont .wrapper {
  width: 30%;
  margin: 5%;
  height: 5%;
  padding: 30px;
  border-radius: 7px;
  border: 1px solid #e4bd63;
}

@media (max-width: 985px) {
  header .table-cont .wrapper {
    width: 100%;
    height: 50%;
  }
}

header .table-cont .wrapper i {
  font-size: 30px;
  float: right;
  color: #e4bd63;
}

header .table-cont .wrapper form {
  margin: 40px 0 20px 0;
}

header .table-cont .wrapper form :where(input, select, button) {
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: none;
}

header .table-cont .wrapper p {
  font-size: 18px;
  margin-bottom: 5px;
}

header .table-cont .wrapper input {
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #999;
}

header .table-cont .wrapper button {
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: #675afe;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .table-cont .wrapper .exchange-rate {
  font-size: 17px;
  margin: 20px 0 30px;
}

header .table-cont .wrapper input:focus {
  padding: 0 14px;
  border: 2px solid #675afe;
}

header .table-cont .wrapper .icon {
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}

header .table-cont .wrapper button:hover {
  background: #4534fe;
}

header .table-cont .wrapper .drop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  margin: 20px 0;
}

header .table-cont .wrapper .drop-list .select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 45px;
  margin: none;
  border-radius: 5px;
  border: 1px solid #999;
}

header .table-cont .wrapper .drop-list .select-box img {
  max-width: 21px;
}

header .table-cont .wrapper .drop-list .select-box select {
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}

header .table-cont .wrapper .drop-list .select-box select::-webkit-scrollbar {
  width: 30px;
  height: 20px;
}

header .table-cont .wrapper .drop-list .select-box select::-webkit-scrollbar-track {
  background: #fff;
}

header .table-cont .wrapper .drop-list .select-box select::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

main .app_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: auto;
  margin: auto;
  gap: 20px;
  height: 90vh;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1400px) {
  main .app_box {
    width: 80%;
    height: 100%;
  }
}

main .app_box div {
  width: 586px;
  height: 420px;
}

@media (max-width: 1400px) {
  main .app_box div {
    width: 100%;
    margin-top: 2%;
  }
}

main .app_box .tg_chanelBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.362);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  padding: 50px 40px;
}

main .app_box .tg_chanelBox h2 {
  font-weight: bold;
}

main .app_box .tg_chanelBox button {
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid #e4bd63;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4bd63), to(#e4bd63));
  background: linear-gradient(#e4bd63, #e4bd63);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
  width: 200px;
  height: 50px;
  position: absolute;
  bottom: 10%;
  left: 5%;
  border: 2px solid #e4bd63;
  font-size: 20px;
}

main .app_box .tg_chanelBox button i {
  color: #e4bd63;
  font-size: 20px;
}

main .app_box .tg_chanelBox button:hover {
  background-color: #e4bd63;
  color: white;
}

main .app_box .app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(https://nbu.uz/local/templates/nbu/img/download_bg_big.jpg) no-repeat center;
  background-size: cover;
  border: none;
  padding: 50px 40px;
  color: white;
  border-radius: 10px;
}

main .app_box .app a {
  position: absolute;
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid #e4bd63;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4bd63), to(#e4bd63));
  background: linear-gradient(#e4bd63, #e4bd63);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 60px;
  margin: none;
  gap: 20px;
  border: 2px solid #e4bd63;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.651);
  left: 2%;
  font-size: 20px;
}

main .app_box .app a i {
  color: #e4bd63;
  font-size: 20px;
}

main .app_box .app .appstore {
  bottom: 30%;
}

main .app_box .app .googleplay {
  bottom: 10%;
}

main .app_box .app a:hover {
  background-color: #e4bd63;
}

main .date {
  width: 100%;
  border-top: 1px solid silver;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1500px) {
  main .date {
    display: none;
  }
}

@media (max-width: 736px) {
  footer {
    height: 90vh;
  }
}

footer a {
  text-decoration: none;
  color: #848e9f;
}

footer a P {
  color: #000000;
}

footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 100%;
  margin: none;
  padding: 0 40px;
}

footer .row .forum_links,
footer .row .contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
}

footer .row .contact-box a:hover {
  color: silver;
}

footer .row .contact-box a:hover p,
footer .row .contact-box a:hover address {
  color: #009ea7;
}

footer .row .contact-box .networks {
  position: relative;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer .row .contact-box .networks .social-medias:hover {
  background-color: rgba(0, 115, 150, 0.829);
}

footer .row .contact-box .networks .social-medias:hover i {
  color: white;
}

footer .row .contact-box .networks .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  width: 35px;
  height: 36px;
  margin: none;
  background-color: rgba(176, 228, 244, 0.527);
  border-radius: 6px;
}

footer .row .contact-box .networks .social-medias i {
  color: #009ea7;
  font-size: 24px;
}

@media (max-width: 700px) {
  footer .row .contact-box {
    position: relative;
    width: 100%;
    left: 0%;
    font-size: 13px;
  }
}

footer .row .forum_links a,
footer .row #forum a {
  position: relative;
}

footer .row .forum_links a:hover,
footer .row #forum a:hover {
  color: #e4bd63;
}

footer .row .forum_links a:after,
footer .row #forum a:after {
  content: "";
  width: 0%;
  top: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #e4bd63;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

footer .row .forum_links a:hover:after,
footer .row #forum a:hover:after {
  width: 80%;
}

@media (max-width: 1200px) {
  footer .row .forum_links,
  footer .row #forum {
    display: none;
  }
}

footer .license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  width: 100%;
  height: auto;
  margin: none;
  padding: 0 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 13px;
}

footer .license h4 {
  position: relative;
  right: 0;
}

footer .license p {
  width: 350px;
  color: #848e9f;
}

footer #message {
  position: fixed;
  width: 70px;
  height: 70px;
  background-color: #009ea7;
  border: none;
  border-radius: 50%;
  bottom: 2%;
  right: 2%;
}

@media (max-width: 850px) {
  footer #message {
    display: none;
  }
}

footer .canvas {
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .canvas .dark {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.263);
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media (max-width: 850px) {
  footer .canvas .dark {
    display: none;
  }
}

footer .canvas .dark .feedback {
  max-width: 950px;
  padding: 2%;
  width: 100%;
  -webkit-box-shadow: 0px 24px 48px black;
          box-shadow: 0px 24px 48px black;
  border-radius: 10px;
  background: url(https://nbu.uz/local/templates/nbu/images/bg-bahrama.png) no-repeat right bottom;
  background-color: white;
}

footer .canvas .dark .feedback > img {
  cursor: pointer;
  background-color: #009ea7;
  float: right;
}

footer .canvas .dark .feedback > img:hover {
  background-color: red;
}

footer .canvas .dark .feedback a {
  color: #000000;
}

footer .canvas .dark .feedback .feedback_objects {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .canvas .dark .feedback .feedback_objects forum,
footer .canvas .dark .feedback .feedback_objects .contacts {
  width: calc(50% - 30px);
  height: 300px;
}

footer .canvas .dark .feedback .feedback_objects form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
}

footer .canvas .dark .feedback .feedback_objects form button {
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid #e4bd63;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e4bd63), to(#e4bd63));
  background: linear-gradient(#e4bd63, #e4bd63);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  -webkit-transition: 400ms;
  transition: 400ms;
  cursor: pointer;
  width: 382px;
  height: 58px;
}

footer .canvas .dark .feedback .feedback_objects form button i {
  color: #e4bd63;
  font-size: 20px;
}

footer .canvas .dark .feedback .feedback_objects form button:hover {
  background-color: #e4bd63;
  color: white;
}

footer .canvas .dark .feedback .feedback_objects form input {
  width: 382px;
  height: 58px;
  border: 2px solid rgba(192, 192, 192, 0.422);
  border-radius: 10px;
}

footer .canvas .dark .feedback .feedback_objects form .message {
  height: 100px;
}

footer .canvas .dark .feedback .feedback_objects .contacts {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */