@import "../complier/mixins";
@import url("https:fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  height: 100vh;
}

header {
  .sidebar {
    .change {
      .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
        background-color: $myLightBlue;
      }

      .bar2 {
        opacity: 0;
      }

      .bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: $myLightBlue;
      }
    }
    #navbar {
      display: flex;
      flex-wrap: wrap;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      .hamburger {
        display: inline-block;
        cursor: pointer;

        .bar1,
        .bar2,
        .bar3 {
          width: 35px;
          height: 5px;
          margin: 6px 0;
          transition: 0.4s;
          background-color: $myDarkBlu;
        }
      }

      .call_box {
        display: none;

        @media (min-width: 359px) and (max-width: 450px) {
          display: flex;
          height: 40px;
        }

        @media (min-width: 450px) and (max-width: 851px) {
          position: relative;
          display: flex;
          height: 40px;
          gap: 10px;
          left: 5%;
        }

        @media (min-width: 851px) and (max-width: 992px) {
          position: relative;
          display: flex;
          height: 40px;
          gap: 10px;
          left: 25%;
        }

        i {
          font-size: 25px;
          color: $myDarkBlu;
        }

        .phone_btn {
          @include btn;
          @include replacement(flex, center, center, 156px, 40px, none);
          font-size: small;
        }
      }

      .phone_btn:hover {
        @include phoneHover;
      }

      .logo {
        position: relative;
        padding: 0 2%;
        margin-bottom: -1%;
        height: 100px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 5px;

        img {
          position: relative;
        }

        #img_1 {
          animation: myMove 5s 3s ease infinite alternate;
        }

        #img_2 {
          animation: myMoves 5s 3s ease infinite alternate;
          border-style: none solid none solid;
          border-color: $myYellow;
        }

        @keyframes myMove {
          from {
            bottom: 0%;
          }

          to {
            bottom: 120%;
          }
        }

        @keyframes myMoves {
          from {
            bottom: 0%;
          }

          to {
            bottom: 100%;
          }
        }
      }

      #navbarTogglerDemo01 {
        font-size: 11px;
        font-weight: 500;
        height: 64px;
        border-bottom: 1px solid $mySilver;

        ul {
          img {
            position: relative;
            left: 15%;

            @media (max-width: 1300px) {
              display: none;
            }
          }
        }

        a {
          display: block;
          position: relative;
          line-height: 1.5;
          color: $mySilver;
        }

        a:hover {
          color: $myYellow;
        }

        a:after {
          @include After;
        }

        a:hover:after {
          width: 100%;
        }
      }

      #navbarTogglerDemo02 {
        border-bottom: 1px solid $mySilver;

        #currency {
          position: relative;
          width: 75%;
          height: 63px;
          align-items: center;
          left: 20%;

          @media (min-width: 309px) and (max-width: 900px) {
            width: 99%;
            position: static;
            margin: 5% 0;
            border: 1px $mySilver;
            border-style: solid none solid none;
          }

          @media (min-width: 900px) and (max-width: 990px) {
            width: 400px;
            position: static;
            margin: 3% 0;
          }

          a {
            color: rgb(146, 143, 143);
            font-size: 14px;
          }

          #cur_name,
          span {
            color: $myBlack;
          }
        }

        .for_Clients {
          display: none;
          cursor: pointer;

          #clients_h {
            font-size: 18px;
          }

          #clients_h:hover {
            color: $mySilver;
          }

          @media (max-width: 990px) {
            display: flex;
            flex-direction: column;
            padding: 0 2%;
            gap: 5px;
            text-align: justify;
            font-weight: bold;
          }
        }

        .nbu_networks {
          display: none;
          height: 5%;
          font-size: 24px;
          color: $mySilver;
          padding: 0 2%;

          .social-medias {
            @include replacement(flex, center, auto, 35px, 36px, none);
            background-color: rgba(176, 228, 244, 0.527);
            border-radius: 6px;

            i {
              color: $myLightBlue;
              width: 23px;
              height: 91px;
              font-size: 24px;
            }
          }

          @media (max-width: 990px) {
            display: flex;
            gap: 10px;
          }
        }
      }

      .bottom_menu {
        margin: 1% 10%;
        display: flex;
        gap: 30px;
        height: 2%;
        align-items: center;
        cursor: pointer;

        .bot_menu {
          width: 250px;
          display: flex;
          gap: 30px;

          .loans_container:hover .loans_cont {
            display: block;
          }

          .loans_cont {
            display: none;

            .loans {
              @include hoverCard;

              background-size: cover;
              color: $myBlack;
              p {
                font-size: 18px;
                width: 368px;
              }
            }
          }

          .bank_container:hover .bank_cont {
            display: block;
          }

          .bank_cont {
            display: none;

            .bank {
              @include hoverCard;

              background-size: cover;
              color: $myBlack;

              .card_btn {
                button {
                  @include btn;
                  width: 200px;
                }

                button:hover {
                  background-color: $myYellow;
                  color: white;
                }

                p {
                  width: 100%;
                  font-size: 17px;
                }
              }
            }
          }

          .deposit_container:hover .deposit_cont {
            display: block;
          }

          .deposit_cont {
            display: none;

            .deposit {
              @include hoverCard;

              background-size: cover;
              color: $myBlack;

              .deposit_box_2 {
                margin-bottom: 10%;
              }
              p {
                width: 100%;
                font-size: 18px;
                margin-bottom: 5%;
              }
            }
          }
        }

        h5 {
          font-weight: 600;
        }
        h5:hover {
          color: $myYellow;
        }

        .phone_container {
          position: relative;
          left: 2%;
          display: flex;
          gap: 25px;
          align-items: center;

          .bi-search {
            @media (max-width: 1083px) {
              display: none;
            }
          }

          i {
            font-size: 20px;
            color: $myDarkBlu;
          }

          .phone_btn {
            @include btn;
          }

          .phone_btn:hover {
            @include phoneHover;
          }

          .dropbtn {
            color: black;
            width: 100px;
            font-size: 14px;
            border: none;
            cursor: pointer;
          }

          .dropdown {
            position: relative;
            display: inline-block;

            .dropdown-content {
              @include dropdown;
            }
          }

          .dropdown:hover .dropdown-content {
            display: block;
          }
        }
      }
    }
  }

  .cont-curr {
    @include replacement(flex, center, center, 95%, 30vh, auto);
    color: $myBlack;
    flex-direction: column;
    @media (max-width: 900px) {
      height: 20vh;
    }
    .atm_box {
      @include replacement(flex, space-evenly, auto, 70%, 10vh, 2% 0);
      border-bottom: 1px solid rgba(192, 192, 192, 0.429);
      font-size: 2vw;

      @media (max-width: 500px) {
        width: 100%;
        height: 2vh;
        font-size: 3vw;
      }
      @media (min-width: 500px) and (max-width: 1000px) {
        width: 100%;
        height: 10vh;
        font-size: 3vw;
      }

      .change_light,
      .change_light_1,
      .change_light_2 {
        position: relative;
        text-decoration: none;
        color: $myBlack;
      }

      .change_light,
      .change_light_1:hover,
      .change_light_2:hover {
        color: $myYellow;
      }

      .change_light_1:after,
      .change_light_2:after,
      .change_light::after {
        @include afterHover;
        background-color: $myYellow;
        width: 0;
      }
      .change_light_1:hover:after,
      .change_light_2:hover:after,
      .change_light:hover:after {
        width: 100%;
      }
    }
  }

  .table-cont {
    @include replacement(flex, space-evenly, none, 90%, auto, auto);
    flex-wrap: wrap;

    P {
      margin: 5% 0;
    }
    .tables {
      width: 60%;
      @media (max-width: 990px) {
        width: 100%;
      }

      .changeWidth {
        width: 100%;
      }

      @media (min-width: 990px) and (max-width: 1000px) {
        width: 70%;
      }

      .table_1 {
        @include myTable;
        display: table;
      }

      .table_2 {
        @include myTable;
        display: none;
        margin-bottom: 25%;
      }

      .table_3 {
        @include myTable;
        display: none;
        width: 100%;
        font-size: 12px;
      }
    }

    .wrapper {
      width: 30%;
      margin: 5%;
      height: 5%;
      padding: 30px;
      border-radius: 7px;
      border: 1px solid $myYellow;

      @media (max-width: 985px) {
        width: 100%;
        height: 50%;
      }

      i {
        font-size: 30px;
        float: right;
        color: $myYellow;
      }

      form {
        margin: 40px 0 20px 0;
      }

      form :where(input, select, button) {
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: none;
      }

      p {
        font-size: 18px;
        margin-bottom: 5px;
      }

      input {
        height: 50px;
        font-size: 17px;
        padding: 0 15px;
        border: 1px solid #999;
      }

      button {
        height: 52px;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
        background: #675afe;
        transition: 0.3s ease;
      }

      .exchange-rate {
        font-size: 17px;
        margin: 20px 0 30px;
      }

      input:focus {
        padding: 0 14px;
        border: 2px solid #675afe;
      }

      .icon {
        cursor: pointer;
        margin-top: 30px;
        font-size: 22px;
      }

      button:hover {
        background: #4534fe;
      }
      .drop-list {
        @include replacement(flex, space-between, center, auto, auto, 20px 0);

        .select-box {
          @include replacement(flex, center, center, 110px, 45px, none);
          border-radius: 5px;
          border: 1px solid #999;

          img {
            max-width: 21px;
          }

          select {
            width: auto;
            font-size: 16px;
            background: none;
            margin: 0 -5px 0 5px;
          }

          select::-webkit-scrollbar {
            width: 30px;
            height: 20px;
          }

          select::-webkit-scrollbar-track {
            background: #fff;
          }

          select::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 8px;
            border-right: 2px solid #ffffff;
          }
        }
      }
    }
  }
}

main {
  .app_box {
    @include replacement(flex, space-around, center, 80vw, auto, auto);
    gap: 20px;
    height: 90vh;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 1400px) {
      width: 80%;
      height: 100%;
    }

    div {
      width: 586px;
      height: 420px;

      @media (max-width: 1400px) {
        width: 100%;
        margin-top: 2%;
      }
    }

    .tg_chanelBox {
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.362);
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 50px 40px;

      h2 {
        font-weight: bold;
      }

      button {
        @include btn;
        width: 200px;
        height: 50px;
        position: absolute;
        bottom: 10%;
        left: 5%;
        border: 2px solid $myYellow;
        font-size: 20px;
      }

      button:hover {
        background-color: $myYellow;
        color: white;
      }
    }
    .app {
      position: relative;
      display: flex;
      flex-direction: column;
      background: url(https://nbu.uz/local/templates/nbu/img/download_bg_big.jpg)
        no-repeat center;
      background-size: cover;
      border: none;
      padding: 50px 40px;
      color: white;
      border-radius: 10px;

      a {
        position: absolute;
        @include btn;
        @include replacement(flex, center, center, 300px, 60px, none);
        gap: 20px;
        border: 2px solid $myYellow;
        text-decoration: none;
        color: $myWhite;
        background-color: rgba(0, 0, 0, 0.651);
        left: 2%;
        font-size: 20px;
      }

      .appstore {
        bottom: 30%;
      }
      .googleplay {
        bottom: 10%;
      }

      a:hover {
        background-color: $myYellow;
      }
    }
  }
  .date {
    width: 100%;
    border-top: 1px solid silver;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1500px) {
      display: none;
    }
  }
}

footer {
  @media (max-width: 736px) {
    height: 90vh;
  }
  a {
    text-decoration: none;
    color: $mySilver;
    P {
      color: $myBlack;
    }
  }

  .row {
    @include replacement(flex, center, baseline, 100%, 100%, none);

    padding: 0 40px;

    .forum_links,
    .contact-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;
    }

    .contact-box {
      a:hover {
        color: silver;
        p,
        address {
          color: $myLightBlue;
        }
      }

      .networks {
        position: relative;
        top: 20%;
        display: flex;
        gap: 10px;

        .social-medias:hover {
          background-color: rgba(0, 115, 150, 0.829);
          i {
            color: $myWhite;
          }
        }

        .social-medias {
          @include replacement(flex, center, auto, 35px, 36px, none);
          background-color: rgba(176, 228, 244, 0.527);
          border-radius: 6px;

          i {
            color: $myLightBlue;

            font-size: 24px;
          }
        }
      }

      @media (max-width: 700px) {
        position: relative;
        width: 100%;

        left: 0%;
        font-size: 13px;
      }
    }

    .forum_links,
    #forum {
      a {
        position: relative;
      }

      a:hover {
        color: $myYellow;
      }

      a:after {
        @include afterHover;
      }
      a:hover:after {
        width: 80%;
      }
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }

  .license {
    @include replacement(flex, space-between, none, 100%, auto, none);
    padding: 0 5%;
    flex-wrap: wrap;
    font-size: 13px;

    h4 {
      position: relative;
      right: 0;
    }

    p {
      width: 350px;
      color: $mySilver;
    }
  }

  #message {
    position: fixed;
    width: 70px;
    height: 70px;
    background-color: $myLightBlue;
    border: none;
    border-radius: 50%;
    bottom: 2%;
    right: 2%;
    @media (max-width: 850px) {
      display: none;
    }
  }

  .canvas {
    display: none;
    transition: 1s;

    .dark {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.263);
      width: 100vw;
      height: 100vh;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      @media (max-width: 850px) {
        display: none;
      }

      .feedback {
        max-width: 950px;
        padding: 2%;
        width: 100%;
        box-shadow: 0px 24px 48px rgb(0, 0, 0 / 12%);
        border-radius: 10px;
        background: url(https://nbu.uz/local/templates/nbu/images/bg-bahrama.png)
          no-repeat right bottom;
        background-color: white;
        > img {
          cursor: pointer;
          background-color: $myLightBlue;
          float: right;
        }

        > img:hover {
          background-color: red;
        }

        a {
          color: $myBlack;
        }

        .feedback_objects {
          width: 100%;
          margin: auto;
          display: flex;
          padding: 0 30px;
          justify-content: space-between;
          flex-wrap: wrap;

          forum,
          .contacts {
            width: calc(50% - 30px);
            height: 300px;
          }

          form {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 500px;

            button {
              @include btn;
              width: 382px;
              height: 58px;
            }
            button:hover {
              background-color: $myYellow;
              color: $myWhite;
            }

            input {
              width: 382px;
              height: 58px;
              border: 2px solid rgba(192, 192, 192, 0.422);
              border-radius: 10px;
            }
            .message {
              height: 100px;
            }
          }

          .contacts {
            font-size: 18px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
