$myYellow: rgb(228, 189, 99);
$mySilver: #848e9f;
$myBlack: #000000;
$myLightBlue: #009ea7;
$myWhite: hsl(0, 0%, 100%);
$myDarkBlu: darkblue;

@mixin After {
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 0px;
  background: $myYellow;
  transition: 0.25s ease-out;
  -webkit-transition: 0.25s ease-out;
  height: 2px;
  content: "";
  position: absolute;
}

@mixin afterHover {
  content: "";
  width: 0%;
  top: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 10px;
  background: $myYellow;
  transition: width 0.5s linear;
}

@mixin btn {
  width: 16vw;
  font-size: 1.2vw;
  border: 2px solid $myYellow;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 6px;
  background: linear-gradient($myYellow, $myYellow);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: left;
  transition: 400ms;
  cursor: pointer;

  i {
    color: $myYellow;
    font-size: 20px;
  }
}

@mixin phoneHover {
  background-size: 100% 100%;
  background-position-x: left;
  border-radius: 5px;
  color: $myWhite;

  i {
    color: $myWhite;
  }
}

@mixin dropdown {
  display: none;
  margin: 0 -20%;
  position: absolute;
  background-color: $myWhite;
  width: 120px;
  text-align: center;
  right: 2%;
  left: 0;
  top: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    font-weight: bold;
    color: black;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    color: $myLightBlue;
  }
}

@mixin hoverCard {
  z-index: 3;
  position: absolute;
  padding: 0px 40px;
  width: 100%;
  height: 60vh;
  display: flex;
  left: 0;
  align-items: center;
  background: $myWhite;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  .loans_box,
  .bank_box,
  .deposit_box,
  .deposit_box_2 {
    margin: 0 10%;
    flex: 100%;
    h6 {
      font-size: 17px;
      width: 100%;
      font-weight: bold;
    }
  }

  p {
    font-weight: lighter;
    text-align: justify;
  }

  h6:hover {
    color: $myYellow;
  }
}

@mixin replacement($display, $jcontent, $aitems, $width, $height, $margin) {
  display: $display;
  justify-content: $jcontent;
  align-items: $aitems;
  width: $width;
  height: $height;
  margin: $margin;
}

@mixin myTable {
  width: 100%;
  height: 80vh;
  color: $myBlack;

  @media (max-width: 700px) {
    font-size: 10px;
  }

  td,
  th {
    border-bottom: 1px solid $mySilver;
  }

  tr:hover {
    td {
      color: $myWhite;
    }
    background-color: $myYellow;
  }
}
